<%- include('includes/head.ejs', {username: username,permisos: permisos}) %>

<div class="overflow-x-auto flex justify-center items-center h-screen">
  <div style="background-color: white; width: 50%; height: 835px; margin: 20px auto 20px; padding: 40px 40px; border: 1px solid #ddd; position: relative;">
    <button id="close-button" class="text-black hover:text-blue-700" style="border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 30px; margin: 0; cursor: pointer; position: absolute; top: 10px; right: 20px; transition: background-color 0.3s ease; border-radius: 50%;">X</button>

    <div class="flex justify-between">
      <div style="width: 45%; margin-right: 5%; margin-top: 70px;">
        <img src="/uploads/swordsman.png" alt="Imagen no encontrada" style="width: 180px; height: 180px; display: block; margin: 0 auto; margin-left: 110px;">
        <h1 class="text-4xl font-bold dark:text-ellipsis" style="text-align: center; margin: 10px auto 20px;">Crear Rol</h1>
        <form style="margin-top: 30px;">
          <label for="nombreRol" class="block text-sm font-medium text-gray-700">Nombre del Rol</label>
          <input type="text" name="nombreRol" id="nombreRol" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" maxlength="45">
          <button id="crear-rol" type="submit" class="mt-3 w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Crear Rol</button>
          <div>
            <br>
          <svg class="text-indigo-600" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.44421 1.83268C9.76061 1.5495 10.2393 1.54951 10.5557 1.83269C12.178 3.28473 14.3184 4.16666 16.6667 4.16666C16.8253 4.16666 16.9829 4.16264 17.1394 4.15471C17.5345 4.13467 17.8892 4.39517 17.9884 4.77816C18.2137 5.64876 18.3334 6.56103 18.3334 7.50003C18.3334 12.5491 14.88 16.7894 10.2077 17.992C10.0715 18.0271 9.92856 18.0271 9.79231 17.992C5.12 16.7894 1.66669 12.5491 1.66669 7.50003C1.66669 6.56099 1.78636 5.64868 2.01172 4.77805C2.11085 4.39507 2.46558 4.13457 2.86067 4.1546C3.01716 4.16254 3.17475 4.16656 3.33335 4.16656C5.68161 4.16656 7.8219 3.28466 9.44421 1.83268ZM3.48457 5.83219C3.3853 6.37253 3.33335 6.9299 3.33335 7.50003C3.33335 11.6951 6.15205 15.2338 10 16.3219C13.848 15.2338 16.6667 11.6951 16.6667 7.50003C16.6667 6.92993 16.6147 6.3726 16.5155 5.83229C14.0603 5.79868 11.8011 4.94751 9.99996 3.53962C8.19887 4.94744 5.93971 5.79857 3.48457 5.83219ZM10 6.6667C10.4603 6.6667 10.8334 7.03979 10.8334 7.50003V9.1667C10.8334 9.62693 10.4603 10 10 10C9.53978 10 9.16669 9.62693 9.16669 9.1667V7.50003C9.16669 7.03979 9.53978 6.6667 10 6.6667ZM9.16669 12.5C9.16669 12.0398 9.53978 11.6667 10 11.6667H10.0084C10.4686 11.6667 10.8417 12.0398 10.8417 12.5C10.8417 12.9603 10.4686 13.3334 10.0084 13.3334H10C9.53978 13.3334 9.16669 12.9603 9.16669 12.5Z" fill="#4A5567"/>
          </svg>            
          <p class="text-indigo-600"> Agregar los privilegios antes de poder crear el rol</p>
        </div>
        </form>
      </div>
      <div class="overflow-y-scroll overflow-x-clip" style="width: 50%; border: 1px solid #ddd; border-radius: 8px; max-height: 650px; margin-top: 70px;">
        <table style="width: 100%;" class="divide-y divide-gray-200">
          <thead class="bg-gray-50 sticky top-0">
            <tr>
              <th scope="col" class="px-8 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Añadir privilegios
              </th>
              <th scope="col" class="px-8 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <!-- Se recorren los privilegios y se muestran en la tabla -->
            <% let cont=0;
                    for (let descripcion in funciones) {
                        cont=cont+1;
                        if(cont>2) { %>
            <tr>
              <td class="p-3 text-sm font-semibold tracking-wide text-left"><%= funciones[descripcion].id -2 %>. <%= descripcion %></td>
              <td style="text-align: center;">
                <input type="checkbox" class="privilege-checkbox" data-privilege="<%= funciones[descripcion].id %>" style="width: 20px; height: 20px; margin-right: 50%;">
              </td>
            </tr>
            <% }} %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/agregarRol.js"></script>

<style>
  /* Estilos para la barra de desplazamiento en navegadores webkit (como Chrome y Safari) */
  ::-webkit-scrollbar {
    width: 10px;
    /* Ancho de la barra de desplazamiento */
  }

  /* Estilo de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background-color: #8888887b;
    /* Color de fondo de la barra de desplazamiento */
    border-radius: 5px;
    /* Redondeado de los bordes de la barra de desplazamiento */

  }

  /* Estilo del riel de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color del riel de la barra de desplazamiento */
    border-radius: 5px;
    /* Redondeado de los bordes de la barra de desplazamiento */
  }
</style>