

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesion</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-50 border dark:bg-gray-700">
  <div class="p-20">
  <svg class="flex justify-center items-center w-full"  viewBox="62.261 39.127 204.6067 65.098" width="204.607" height="65.098" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <clipPath id="clip-3">
        <rect width="190" height="32" fill="white"/>
      </clipPath>
      <style>@import url(https://fonts.googleapis.com/css2?family=DM+Sans%3Aital%2Cwght%400%2C100..1000%3B1%2C100..1000&amp;display=swap);</style>
    </defs>
    <text style="white-space: pre; fill: rgb(29, 30, 33); font-family: Arial, sans-serif; font-size: 28px;" x="166.748" y="98.625" transform="matrix(1, 0, 0, 1, 0, 2.842170943040401e-14)"> </text>
    <text style="fill: rgb(29, 30, 33); font-family: 'DM Sans'; font-size: 40px; font-weight: 582; letter-spacing: 0.8px; white-space: pre; stroke-opacity: 1;" x="62.261" y="79.127" transform="matrix(1, 0, 0, 1, 0, 2.842170943040401e-14)">Ch  r</text>
    <text style="white-space: pre; fill: rgb(29, 30, 33); font-family: Arial, sans-serif; font-size: 28px;" x="127.965" y="67.898" transform="matrix(1, 0, 0, 1, 0, 2.842170943040401e-14)"> </text>
    <text style="white-space: pre; fill: rgb(29, 30, 33); font-family: Arial, sans-serif; font-size: 28px;" x="181.499" y="72.809" transform="matrix(1, 0, 0, 1, 0, 2.842170943040401e-14)"> </text>
    <g clip-path="url(#clip-3)" transform="matrix(1, 0, 0, 1, 160.171724798854, 48.676148186269)" style="transform-origin: 53.348px 16px; transform: matrix(1, 0, 0, 1, 160.172, 48.6761);">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M56.2609 12.0456C57.5897 13.5187 58.6143 15.1323 58.9511 17.06C59.2108 18.5462 59.4303 20.0291 59.1819 21.6161C58.9391 23.1671 58.4387 24.5357 57.771 25.9044C57.6401 26.1724 57.6309 26.5645 57.7128 26.8585C57.9618 27.7543 58.2988 28.6253 58.5714 29.5152C58.8996 30.5867 58.2598 31.459 57.1386 31.4626C56.804 31.4635 56.4591 31.3897 56.1365 31.2925C55.1848 31.0055 54.242 30.6898 53.3338 30.3974C49.0405 32.5208 44.8981 32.6243 40.8569 30.1646C37.679 28.2305 35.7465 25.3469 35.1825 21.7011C34.7604 18.9732 35.2387 16.3182 36.729 13.9125C38.6472 10.8165 41.3743 8.79071 44.9723 8.20314C49.3664 7.48543 53.1955 8.64713 56.2609 12.0456ZM40.256 15.4519C38.5264 18.0413 38.3299 20.8024 39.704 23.5932C40.9767 26.1777 43.1057 27.7297 45.9505 28.1672C47.584 28.4184 49.2314 28.2538 50.7189 27.4659C51.7276 26.9314 52.6648 26.3094 53.9056 27.0102C53.6543 25.9886 53.729 25.1619 54.2559 24.3101C57.0098 19.8583 55.1278 14.2692 50.1674 12.3209C46.5568 10.9028 42.5363 12.0378 40.256 15.4519Z" fill="#6269E9"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M 4.57 31.46 L 4.57 0 L 0 0 L 0 31.46 L 4.57 31.46 Z M 21.19 31.959 C 24.846 31.959 28.073 30.921 30.87 28.846 L 28.959 25.484 C 27.962 26.203 26.764 26.784 25.365 27.227 C 23.966 27.67 22.63 27.891 21.356 27.891 C 19.251 27.891 17.568 27.365 16.308 26.314 C 15.047 25.262 14.251 23.837 13.919 22.039 L 31.411 22.039 C 31.521 21.292 31.577 20.559 31.577 19.839 C 31.577 16.381 30.552 13.627 28.502 11.58 C 26.48 9.56 23.849 8.55 20.608 8.55 C 17.229 8.55 14.473 9.657 12.34 11.87 C 10.235 14.056 9.182 16.837 9.182 20.213 C 9.182 23.45 10.2 26.217 12.236 28.514 C 14.272 30.81 17.256 31.959 21.19 31.959 Z M 26.965 18.304 L 13.919 18.304 C 14.251 16.56 15.02 15.156 16.225 14.091 C 17.43 13.026 18.891 12.493 20.608 12.493 C 22.298 12.493 23.731 13.026 24.908 14.091 C 26.085 15.156 26.771 16.56 26.965 18.304 Z M 73.748 32 C 76.823 32 79.329 30.783 81.268 28.348 L 81.268 31.46 L 85.797 31.46 L 85.797 0 L 81.185 0 L 81.185 12.202 C 79.163 9.767 76.67 8.55 73.707 8.55 C 70.494 8.55 67.834 9.684 65.729 11.953 C 63.597 14.222 62.53 16.989 62.53 20.254 C 62.53 23.547 63.597 26.342 65.729 28.638 C 67.834 30.879 70.507 32 73.748 32 Z M 74.33 27.808 C 72.197 27.808 70.466 27.089 69.136 25.65 C 67.807 24.211 67.142 22.413 67.142 20.254 C 67.142 18.151 67.807 16.381 69.136 14.942 C 70.466 13.475 72.197 12.742 74.33 12.742 C 76.463 12.742 78.194 13.475 79.523 14.942 C 80.853 16.381 81.518 18.151 81.518 20.254 C 81.518 22.413 80.853 24.211 79.523 25.65 C 78.194 27.089 76.463 27.808 74.33 27.808 Z M 98.345 32 C 100.81 32 102.818 31.336 104.369 30.008 C 105.92 28.68 106.696 27.033 106.696 25.069 C 106.696 22.634 105.422 20.752 102.873 19.424 C 102.236 19.092 101.184 18.622 99.716 18.013 L 97.431 17.058 C 96.184 16.533 95.561 15.716 95.561 14.61 C 95.561 13.918 95.831 13.337 96.371 12.866 C 96.911 12.396 97.638 12.161 98.552 12.161 C 100.491 12.161 102.126 12.977 103.455 14.61 L 106.114 11.787 C 104.397 9.491 101.945 8.342 98.76 8.342 C 96.489 8.342 94.633 8.951 93.193 10.169 C 91.808 11.386 91.115 12.922 91.115 14.776 C 91.115 17.211 92.306 19.051 94.688 20.296 C 94.924 20.43 95.364 20.641 96.007 20.928 L 96.243 21.033 C 96.609 21.195 97.033 21.378 97.514 21.582 C 98.982 22.136 99.882 22.509 100.214 22.703 C 101.488 23.312 102.126 24.17 102.126 25.276 C 102.126 26.051 101.779 26.708 101.087 27.248 C 100.394 27.787 99.508 28.057 98.428 28.057 C 97.348 28.057 96.288 27.76 95.249 27.165 C 94.211 26.57 93.359 25.733 92.694 24.654 L 89.744 27.31 C 90.658 28.832 91.877 29.994 93.4 30.796 C 94.924 31.599 96.572 32 98.345 32 Z" fill="#4C4BDC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M56.2609 12.0456C57.5897 13.5187 58.6143 15.1323 58.9511 17.06C59.2108 18.5462 59.4303 20.0291 59.1819 21.6161C58.9391 23.1671 58.4387 24.5357 57.771 25.9044C57.6401 26.1724 57.6309 26.5645 57.7128 26.8585C57.9618 27.7543 58.2988 28.6253 58.5714 29.5152C58.8996 30.5867 58.2598 31.459 57.1386 31.4626C56.804 31.4635 56.4591 31.3897 56.1365 31.2925C55.1848 31.0055 54.242 30.6898 53.3338 30.3974C49.0405 32.5208 44.8981 32.6243 40.8569 30.1646C37.679 28.2305 35.7465 25.3469 35.1825 21.7011C34.7604 18.9732 35.2387 16.3182 36.729 13.9125C38.6472 10.8165 41.3743 8.79071 44.9723 8.20314C49.3664 7.48543 53.1955 8.64713 56.2609 12.0456ZM40.256 15.4519C38.5264 18.0413 38.3299 20.8024 39.704 23.5932C40.9767 26.1777 43.1057 27.7297 45.9505 28.1672C47.584 28.4184 49.2314 28.2538 50.7189 27.4659C51.7276 26.9314 52.6648 26.3094 53.9056 27.0102C53.6543 25.9886 53.729 25.1619 54.2559 24.3101C57.0098 19.8583 55.1278 14.2692 50.1674 12.3209C46.5568 10.9028 42.5363 12.0378 40.256 15.4519Z" fill="#6269E9"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M56.2609 12.0456C57.5897 13.5187 58.6143 15.1323 58.9511 17.06C59.2108 18.5462 59.4303 20.0291 59.1819 21.6161C58.9391 23.1671 58.4387 24.5357 57.771 25.9044C57.6401 26.1724 57.6309 26.5645 57.7128 26.8585C57.9618 27.7543 58.2988 28.6253 58.5714 29.5152C58.8996 30.5867 58.2598 31.459 57.1386 31.4626C56.804 31.4635 56.4591 31.3897 56.1365 31.2925C55.1848 31.0055 54.242 30.6898 53.3338 30.3974C49.0405 32.5208 44.8981 32.6243 40.8569 30.1646C37.679 28.2305 35.7465 25.3469 35.1825 21.7011C34.7604 18.9732 35.2387 16.3182 36.729 13.9125C38.6472 10.8165 41.3743 8.79071 44.9723 8.20314C49.3664 7.48543 53.1955 8.64713 56.2609 12.0456ZM40.256 15.4519C38.5264 18.0413 38.3299 20.8024 39.704 23.5932C40.9767 26.1777 43.1057 27.7297 45.9505 28.1672C47.584 28.4184 49.2314 28.2538 50.7189 27.4659C51.7276 26.9314 52.6648 26.3094 53.9056 27.0102C53.6543 25.9886 53.729 25.1619 54.2559 24.3101C57.0098 19.8583 55.1278 14.2692 50.1674 12.3209C46.5568 10.9028 42.5363 12.0378 40.256 15.4519Z" fill="#6269E9"/>
    </g>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M 125.713 80.118 C 128.622 80.118 131.033 78.946 132.946 76.603 L 132.946 79.592 L 137.112 79.592 L 137.112 72.788 L 137.112 57.819 L 132.946 57.819 L 132.946 60.848 C 131.033 58.478 128.622 57.294 125.713 57.294 C 122.648 57.294 120.119 58.358 118.128 60.485 C 116.135 62.613 115.14 65.306 115.14 68.565 C 115.14 71.849 116.135 74.597 118.128 76.805 C 120.119 79.014 122.648 80.118 125.713 80.118 Z M 126.303 76.038 C 124.285 76.038 122.648 75.338 121.39 73.937 C 120.132 72.537 119.503 70.799 119.503 68.726 C 119.503 66.652 120.132 64.916 121.39 63.515 C 122.648 62.087 124.285 61.374 126.303 61.374 C 128.268 61.374 129.906 62.087 131.216 63.515 C 132.5 64.916 133.142 66.639 133.142 68.685 C 133.142 70.759 132.5 72.497 131.216 73.896 C 129.906 75.324 128.268 76.038 126.303 76.038 Z" fill="#1D1E21" style="" transform="matrix(1, 0, 0, 1, 0, 2.842170943040401e-14)"/>
  </svg>
    
    <form id="signup-form" action="/usuario/<% if (registro) { %>signup<% } else { %>login<% } %>" class="max-w-sm mx-auto" method="POST">
      <% if (registro) {%>
      <a href="/usuario/login" class="underline text-blue-700 hover:text-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-blue-600 dark:hover:text-blue-700 dark:focus:ring-blue-800 brightness-110 ml-200">
        Ingresa a tu Cuenta
      </a>
      <label for="email-address-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
      <div class="relative mb-5">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
            <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
            <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
          </svg>
        </div>
        <input type="text" id="email-address-icon" name="correo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@mail.com">
      </div>
      <div class="mb-5">
        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
        <div class="flex">
          <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z" />
            </svg>
          </span>
          <input type="text" id="username" name="username" class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Juanito Perez">
        </div>
      </div>
      <div class="mb-5">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Full Name</label>
        <input type="text" id="name" name="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
      </div>
      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
        <input type="password" id="password" name="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
      </div>
      <div class="mb-5">
        <label for="repeat-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat password</label>
        <input type="password" id="repeat-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
      </div>    
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registrar Cuenta</button>
      <% } else { %>
      <a href="/usuario/signup" class="underline text-blue-700 hover:text-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-blue-600 dark:hover:text-blue-700 dark:focus:ring-blue-800 brightness-110 ml-200">
        Crea una Cuenta
      </a>
      <div class="mb-5">
        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
        <div class="flex">
          <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z" />
            </svg>
          </span>
          <input type="text" id="username" name="username" class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Juanito Perez">
        </div>
      </div>
      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
        <input type="password" name="password" id="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
      </div>
      <input type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      <% } %>
    </form>
  </div>
</body>

<script>
  document.getElementById("signup-form").addEventListener("submit", function(event) {
    // Obtener el valor de la contraseña
    var password = document.getElementById("password").value;
    // Expresión regular para validar la contraseña
    var passwordRegex = /^(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.{8,})/;
    // Verificar si la contraseña cumple con los criterios
    if (!passwordRegex.test(password)) {
        // Si no cumple, mostrar un mensaje de error y prevenir el envío del formulario
        alert("La contraseña debe tener al menos 8 caracteres, una mayúscula y un carácter especial (!@#$%^&*)");
        event.preventDefault(); // Evitar que se envíe el formulario
    }
});
</script>